---
layout: default
---

<header class="site-header">
  <div class="header-wrapper">
    <div class="site-title">
      <a href="{{site.baseurl}}/">{{site.title}}</a>
    </div>
    <nav class="site-nav">
      <ul>
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/publications/">Publications</a></li>
        {% if site.social-email %}
        <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<div class="content-wrapper">
  {{ content }}
</div>

<footer class="site-footer">
  <div class="footer-wrapper">
    <div class="social-links">
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-huggingface %}
          <li><a href="https://huggingface.com/{{ site.social-huggingface }}" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </div>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </div>
</footer>
